.mappedCards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    justify-content: space-evenly;
    text-align: center;
    padding: 5%;
}
.myTitle {
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-family: cursive;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-decoration: underline black;
    color: white;
    font-style: oblique
}