body {
    background-color: #6B5B95 !important;
}
.myJokesTitle {
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
    font-family: cursive;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-decoration: underline aqua;
    color: rgba(0, 0, 0, 0.445);
    font-style: oblique
}
.NoJokes {
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
    font-family: cursive;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    text-decoration: underline aqua;
    color: rgba(0, 0, 0, 0.445);
    font-style: oblique
}
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    margin-top: 5%;
}
.pagination .page-num {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: lighter;
    text-decoration: none;
    color: white;
}
.pagination .page-num:hover {
    background-color: #92A8D1;
    color: white;
}
.pagination .active {
    background-color: aqua;
    color: black;
    font-weight: bold;
}
.goBackBtn {
    margin-left: 42%;
    /* margin-top: 3%; */
    width: 15%;
    font-size: larger;
    font-weight: bold;
    text-transform: uppercase;
}
